<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>案例练习</title>
    <!-- <script src="../lib/vue221.js"></script> -->
    <script src="../lib/vue1026.js"></script>
    <script src="../lib/resource.js"></script>
    <style>
        #tb {
            width: 800px;
            border-collapse: collapse;
            margin: 20px auto;
        }

        #tb th {
            background-color: rgb(35, 150, 150);
            color: #fff;
            font-size: 16px;
            padding: 5px;
            text-align: center;
            border: 1px solid #000;
        }

        #tb td {

            padding: 5px;
            text-align: center;
            border: 1px solid #000;
            background-color: #e0e0e0;
        }

        .ip {
            width: 800px;
            text-align: center;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="ip">
            名称：
            <input type="text" v-model="name" @keydown.enter="add()">
            <input @click="add" type="button" value="添加品牌">
            <input v-model="sname" type="text" placeholder="请输搜索内容">
            <input @click="seek" type="button" value="搜索">
        </div>
        <table id="tb">
            <tr>
                <th>编号</th>
                <th>名称</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            <tr v-if="list.length==0">
                <!-- 使用v-if 如果值为false则代表存在数据，不会渲染该标签 -->
                <td colspan="4">当前列表无数据</td>
            </tr>
            <tr v-for="v in list  | filterBy bin in 'name'">
                <td>{{v.id}}</td>
                <td>{{v.name}}</td>
                <td>{{v.ctime }}</td>
                <td>
                    <a @click="remove(v.id)" href="javascript:;">删除</a>
                </td>
            </tr>
        </table>
    </div>

    <script>
        // | datefmt 'yyyy-mm-dd' 'HH:mm:ss'
        Vue.filter(
            'datefmt',
            function (input, nyr, sfm) {
                // input 是自定义过滤器的默认参数，input的值永远都是取自于 | 左边的内容
                // 可以传入更多参数设置，但是顺序要保持一致
                // 过滤器的逻辑 将input的值格式化yyyy-mm-dd 字符串格式输出
                var res = "";
                var year = input.getFullYear().toString().padStart(2, 0);
                var month = (input.getMonth() + 1).toString().padStart(2, 0);
                var day = input.getDate().toString().padStart(2, 0);
                var hours = input.getHours().toString().padStart(2, 0);
                var minutes = input.getMinutes().toString().padStart(2, 0);
                var seconds = input.getSeconds().toString().padStart(2, 0);
                // 返回计算后的数据

                if (nyr == 'yyyy-mm-dd' && sfm == 'HH:mm:ss') {
                    // 判断传入的参数，根据参数来返回数据
                    return res = year + "年-" + month + "月-" + day + "日" + "---" + hours + ":" + minutes +
                        ":" + seconds;
                } else {
                    return res = year + "年-" + month + "月-" + day + "日";
                }
            }
        )
        new Vue({
            el: '#app',
            data: {
                id: '',
                name: '',
                sname: '',
                bin: '',
                list: [],
            },
            created: function () {
                this.getlist()
            },
            methods: {
                // 添加数据
                add: function () {
                    if (this.name) {

                        this.$http.post('http://vue.studyit.io/api/addproduct', {
                                name: this.name
                            }, {
                                emulateJSON: true
                            })
                            .then(function (response) {
                                if (response.body.status != 0) {
                                    alert(response.body.message);
                                    return;
                                }
                                this.getlist()
                            })
                    } else {
                        alert("请输入名称");
                        return;
                    }
                },
                // 删除数据方法
                remove: function (id) {
                    // if (!confirm('是否删除')) {
                    //     return;
                    // }
                    var url = "http://vue.studyit.io/api/delproduct/"+id;
                    console.log(url);
                    this.$http.get(url)//发出请求
                        .then(function (response) {
                            if (response.body.status != 0) {
                                alert(response.body.message);
                                return;
                            }
                             this.getlist();
                        })
                },
                getlist: function () {
                    console.log(this.list);
                    this.$http.get("http://vue.studyit.io/api/getprodlist")
                        .then(function (response) {
                            if (response.body.status != 0) {
                                alert(response.body.message);
                                return;
                            }
                            this.list = response.body.message;
                            this.name='';
                        })
                },

                seek: function () {
                    // console.log(this.sname);
                    this.bin = this.sname;
                }
            }

        })
    </script>
</body>

</html>